!!!
%html
  %head
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application 
    = javascript_include_tag "http://d3js.org/topojson.v1.min.js"
    = javascript_include_tag "http://d3js.org/d3.v3.min.js"
    = yield :javascript
    = csrf_meta_tags
  %body
    %div=yield



